{% extends "posts_div.html" %} {% block title %}{{username}}'s Posts{% endblock
    %}
    {%block header%} <h1 align="left" style = color:#9786c9> {{username}}'s topics: </h1>{%endblock%}
   {%block footer%}
    <div align="center">
      
        {% if posts.has_prev %}<a style="color:#9786c9" href="{{ url_for('views.posts', page=posts.prev_num, username=current_user.username) }}">&lt;&lt; Previous page</a>{% else %}&lt;&lt; Previous page{% endif %} | 
        {% if posts.has_next %}<a style="color:#9786c9" href="{{ url_for('views.posts',page=posts.next_num,username=current_user.username) }}">Next page &gt;&gt;</a>{% else %}Next page &gt;&gt;{% endif %}
       
      
    </div>
{%endblock%}